<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trivial</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="questions">
    <ion-card-content>
        <h1 padding-bottom>{{getCurrentQuestion().question}}</h1>
        <h2 *ngIf="isCorrect" padding>CORRECT!</h2>
        <ion-list>
            <button ion-button large block *ngFor="let answer of getAnswers()" (click)="selectAnswer(answer)">{{answer}}</button>
        </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
